.ui-widget-content{
    border: none !important;
}

.ui-menubar{
    padding: 0px 0px;
    color: white;
    height: 55px;
}

.ui-menu, .ui-menu .ui-menu-child{
    background: #1a237e;
} 

.ui-menu .ui-menuitem{
    margin: 15px 5px;
}

.ui-layout-unit .ui-layout-unit-content{
    padding: 0px !important;
    overflow: hidden;
}

.ui-layout-unit{
    padding: 0px !important;
}

.ui-separator{
    width: 500px;
    height: 2px;
}

.noGridBorder tr, .noGridBorder td{
    border: none !important;
    text-align: center;
    padding: 30px 50px 0px 50px !important;
}

a:-webkit-any-link{
    text-decoration: none;
    color: white;
    padding: 20px 15px;
    
}

a:any-link{
    text-decoration: none;
    color: white;
    padding: 20px 15px;
    
}

a:-webkit-any-link:hover{
    	color: #1a237e;
	background: white;
}

a:any-link:hover{
    	color: #1a237e;
	background: white;
}
