div.imagemUsuario ul li:first-child{
    margin: 5px !important;
}

h1{
    margin: 10px 20px;
    padding: 0;
}
.ui-widget-content{
    border: none !important;
}
.ui-menubar{
    padding: 0px 0px !important;
    color: white !important;
    height: 80px;
}
.ui-menu, .ui-menu .ui-menu-child{
    background: #2364AA;
    overflow-y: hidden;
} 
.ui-menu .ui-menuitem{
    margin: 27px 10px !important;
}
.ui-layout-unit .ui-layout-unit-content{
    padding: 0px !important;
}
.ui-layout-unit{
    padding: 0px !important;
}
.ui-separator{
    width: 800px;
    height: 2px;
}
.separator-class{
    height: 0.5px !important; 
    width: 1000px !important;
    float: left;
}

.noGridBorder tr, .noGridBorder td{
    border: none !important;
    text-align: center;
    padding: 30px 50px 0px 50px !important;
}

.ui-growl{
    top: 85px;
}

.ui-tabs .ui-tabs-nav{
    background: white;
}

.ui-tabs .ui-tabs-nav li, .ui-widget-header, .ui-state-default, 
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #EFF1ED;
}

.button-obter{
    background: #6AF296 !important;
}

.button-aceitar, .button-rejeitar{
    width:100px;
}
.button-aceitar{
    background: #6AF296 !important;
    margin-right: 10px !important;
    color: #4f4f4f !important;
}

.button-rejeitar{
    background: #f23f3f !important;
    text-shadow: none !important;
    color: white !important;
}

.ui-growl{
    top: 85px;
}

a:-webkit-any-link{
    text-decoration: none;
    color: white;
    padding: 30px 15px 35px !important   
}
a:any-link{
    text-decoration: none;
    color: white;
    padding: 30px 15px 35px !important
}
div.tab-bar ul li a:-webkit-any-link{
    text-decoration: none;
    color: black;
    padding: 10px 15px !important; 
}
div.tab-bar ul li a:any-link{
    text-decoration: none;
    color: black;
    padding: 10px 15px !important; 
}
a:-webkit-any-link:hover{
    	color: #2364AA;
	background: white;
}
a:any-link:hover{
    	color: #2364AA;
	background: white;
}

.tela-inicial{
    width: 100%;
    height: 100%;
    margin: auto;
    resize: both;
    background-image: url('/solicite-web/faces/javax.faces.resource/back.jpg?ln=images'); 
}

.slogan{
    font-size: 50px; 
    color: #4c6085;
    margin: 30px 0px 20px 0px;
    font-family: "Times New Roman", Georgia, Cursive;
}

.frase-inicial{
    color: #4c6085;
    font-size: 35px; 
    margin: 50px 30px 0px;
    font-family: "Times New Roman", Georgia, Serif;
}